@{
    ViewBag.Title = "Capacity ITW Innovation Week";
}

<div class="jumbotron">
    <h1>Capacity ITW Innovation Week</h1>
    <p class="lead">We spent the week locked up thinking up new product and product features for the Capacity company </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visualizing MeetMe Data</h2>
        <p>
            Taking the meetme data from previous ITW events we have repesented this visually with a hope to gain an insight what drives meetings in the telecoms industry.
        </p>
        <p>
<a href="/DataVisualization">View the Visualisations&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meetme Automated Meeting Suggestions</h2>
        <p>We have taken the data stored in meetme from previous ITW events and used statistical techniques based on our observations of the meetme visualized data</p>
        <p>
               <a href="/AutoSuggest">See it in action &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ideas to Engage Users all year round</h2>
        <p>We wish to expand our meetme system to keep people engaged with news and social interactions for the rest of the year. </p>
        <p>
<a href="/CapacityCommunity">Capacity Community &raquo;</a></p>
    </div>
</div>