@{
    ViewBag.Title = "Capacity ITW Innovation Week";
}

<div class="jumbotron">
    <h1><B>Capacity ITW Innovation Week</B></h1>
    <p class="lead">We spent the week locked up in cafe in shoreditch, thinking up new product and product features for the Capacity Group, here is what we came up with! </p>

    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Visualizing MeetMe Data ITW 2016</h2>
        <p>
            Taking the meetme data from previous ITW events we have repesented this visually with a hope to gain an insight what drives meetings in the telecoms industry.
        </p>
        <p>
<a class="btn primary" href="/DataVisualization">View the Visualisations for itw 2016&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visualizing MeetMe Data ITW 2016</h2>
        <p>We have taken the data stored in meetme from previous ITW events and used statistical techniques based on our observations of the meetme visualized data</p>
        <p>
               <a class="btn primary" href="/DataVisualization/Data2">View the Visualisations for itw 2015</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visualizing MeetMe Data ITW 2016</h2>
        <p>We wish to expand our meetme system to keep people engaged with news and social interactions for the rest of the year. </p>
        <p>
<a class="btn primary" href="/DataVisualization/Data3">View the Visualisations for itw 2014</a></p>
    </div>
</div>