
@{
    ViewBag.Title = "Visualizing Meetme Meetings";
}

<h2>Visualizing Meetme Meetings</h2>

A visualisation of the meetings taken place during ITW 2014-2016
<br/>
<div id="container"></div>
<script src="~/Scripts/sigma.js"></script>
<script src="~/Scripts/plugins/sigma.parsers.json.min.js"></script>
<script>
  sigma.parsers.json('/Content/graphdata.json', {
    container: 'container',
    settings: {
        defaultNodeColor: '#dc0177'
    }
  });
</script>

